name: PlatformIO CI

on:
  push:
    branches: [ main ]   # adjust if needed

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install PlatformIO
        run: pip install --upgrade platformio

      - name: Build firmware
        run: pio run

      - name: Build LittleFS
        run: pio run -t buildfs

      - name: Get short SHA
        id: sha
        run: echo "short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Prepare artifacts
        run: |
          mkdir release
          cp .pio/build/**/firmware.elf release/firmware-${{ steps.sha.outputs.short }}.elf
          cp .pio/build/**/littlefs.bin release/littlefs-${{ steps.sha.outputs.short }}.bin

      - name: Create ZIP package
        run: |
          cd release
          zip firm_fs-${{ steps.sha.outputs.short }}.zip \
            firmware-${{ steps.sha.outputs.short }}.elf \
            littlefs-${{ steps.sha.outputs.short }}.bin

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.sha.outputs.short }}
          name: Build ${{ steps.sha.outputs.short }}
          files: release/*
