name: PlatformIO CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run
      
      - name: Build LittleFS
        run: pio run -t buildfs

      - name: Collect artifacts
        run: |
          mkdir artifacts
          cp .pio/build/**/firmware.elf artifacts/firmware-${{ github.sha }}.elf
          cp .pio/build/**/littlefs.bin artifacts/littlefs-${{ github.sha }}.bin

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ github.sha }}
          path: artifacts